<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Amendokat">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }} &#x2605; {{ .Site.Title }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ if .Description }} 
<meta name="description" content="{{ .Description }}">
<meta property="og:description" content="{{ .Description }}">
{{ else }}
<meta name="description" content="{{ .Summary }}">
<meta property="og:description" content="{{ .Summary }}">
{{ end }}
<title>{{ .Title }} &#x2605; {{ .Site.Title }}</title>
<link rel="icon" type="image/x-icon" href="images/logo.png">
<link rel="stylesheet" href="css/universal.css">