{{ $css := resources.Get "css/universal.css" | fingerprint | minify }}
{{ $script := resources.Get "js/script.js" | fingerprint | minify }}
{{ $scriptURL := $script.RelPermalink }}
{{ $cssURL := $css.RelPermalink }}
{{ $logo := relURL "images/logo.svg" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="AMENDOKAT">
<meta property="og:url" content="{{ absURL "" }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }} &#x2605; {{ .Site.Title }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ if .Params.cover }}
{{ with resources.GetRemote .Params.cover }}<meta property="og:image" content="{{ .RelPermalink }}">{{ end }}
{{ else }}
<meta property="og:image" content="/images/banner-highres.webp">
{{ end }}
{{ if .Description }}
<meta name="description" content="{{ .Description }}">
<meta property="og:description" content="{{ .Description }}">
{{ else }}
<meta name="description" content="{{ .Summary }}">
<meta property="og:description" content="{{ .Summary }}">
{{ end }}
<link rel="preload" href="/fonts/Minecraft.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ $cssURL }}" as="style">
<link rel="preload" href="/images/banner-lowres.webp" as="image" fetchpriority="high">
<link rel="preload" href="/images/banner-highres.webp" as="image" fetchpriority="high">
<title>{{ .Title }} &#x2605; {{ .Site.Title }}</title>
<base href="{{ .Site.BaseURL }}">
<link rel="icon" type="image/x-icon" href="{{ $logo }}">
<link rel="stylesheet" href="{{ $cssURL }}"> 
<!-- assets stuff needs to be loaded with relpermalink, that's why the banner works and css/js don't || also add build.js ot jvascript -->
<script async src="{{ $scriptURL }}"></script>
{{ if eq .Layout "media_page"  }}
<link rel="preconnect" href="https://kit.fontawesome.com">
<script async src="https://kit.fontawesome.com/8910370f1e.js" crossorigin="anonymous"></script>
{{ end }}