<span class="title-decoration-desktop">&#x22C6;  &#x2727; &#x2606; </span><span class="title-decoration-mobile">&#x22C6;  &#x2606;  &#x22C6; </span>
<span>AMENDOKAT</span>
<span class="title-decoration-desktop">&#x2606;  &#x2727; &#x22C6; </span><span class="title-decoration-mobile">&#x22C6;  &#x2606;  &#x22C6; </span>
<a href="#" title="Go to homepage."><div class="banner"></div></a>
<nav>
    <ul>
        {{ range .Site.Menus.nav }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
</nav>