{{ $type := .Page.Param "type" }}
<div class="site-tags">
    <b>Tags:</b>
    {{ with .Pages }}
    {{ if eq $type "artwork" }}
        {{ range .Site.Taxonomies.art_tags }}
            <a class="tags" href='{{ .Page.RelPermalink }}'>{{ .Page.LinkTitle }}</a>
        {{ end }}
    {{ else if eq $type "post" }}
        {{ range .Site.Taxonomies.post_tags }}
            <a class="tags" href='{{ .Page.RelPermalink }}'>{{ .Page.LinkTitle }}</a>
        {{ end }}
    {{ else }}
        <span>null</span>
    {{ end }}
    {{ end }}

</div>

    