<style>
figure{
    text-align: center;
    margin: 1rem 0 1rem 0;
    word-wrap: break-word;
    width: 20rem;
    max-width: 80vw;
}

figure img{
    object-fit: contain;
    margin-bottom: 0.5rem;
}

figcaption{
    font-style: italic;
}
</style>

{{ $src := .Page.Resources.GetMatch (.Get "src") }}
{{ $caption := .Get "cap" }}
{{ $alt := .Get "alt" }}

{{ $tiny := $src.Resize "320x" }}
{{ $medium := $src.Resize "600x" }}
{{ $large := $src.Resize "800x" }}

<figure>
    <picture>
        <source 
        type="image/gif"
        media="(max-width: 640px)"
        srcset="{{ $tiny.RelPermalink }}"
        />
        <source 
        type="image/gif"
        media="(max-width: 1007px)"
        srcset="{{ $medium.RelPermalink }}"
        />
        <source 
        type="image/gif"
        media="(min-width: 1008px)"
        srcset="{{ $large.RelPermalink }}"
        />
        <img src="{{ $tiny.RelPermalink }}" alt="{{ $alt }}" width="{{ $tiny.Width }}" height="{{ $tiny.Height }}" loading="lazy">
    </picture>
    <figcaption>{{ $caption }}</figcaption>
</figure>
  
