<style>
figure{
    text-align: center;
    word-wrap: break-word;
    width: 20rem;
    max-width: 80vw;
    display: inline-block;
}

figure img{
    object-fit: contain;
    margin-bottom: 0.5rem;
}

figcaption{
    font-style: italic;
}
</style>

{{ $src := .Page.Resources.GetMatch (.Get "src") }}
{{ $caption := .Get "cap" }}
{{ $alt := .Get "alt" }}
{{ $link := .Get "link" }}

{{ $tiny := $src.Resize "320x webp" }}
{{ $medium := $src.Resize "600x webp" }}
{{ $large := $src.Resize "800x webp" }}

{{ with $src }}
    <figure>
        {{ if $link }} 
        <a href="$link">
            <picture>
                <source 
                type="image/webp"
                media="(max-width: 640px)"
                srcset="{{ $tiny.RelPermalink }}"
                />
                <source 
                type="image/webp"
                media="(max-width: 1007px)"
                srcset="{{ $medium.RelPermalink }}"
                />
                <source 
                type="image/webp"
                media="(min-width: 1008px)"
                srcset="{{ $large.RelPermalink }}"
                />
                <img src="{{ $tiny.RelPermalink }}" alt="{{ $alt }}" width="{{ $tiny.Width }}" height="{{ $tiny.Height }}" loading="lazy">
            </picture>
        </a>
        {{ else }}
                <picture>
                <source 
                type="image/webp"
                media="(max-width: 640px)"
                srcset="{{ $tiny.RelPermalink }}"
                />
                <source 
                type="image/webp"
                media="(max-width: 1007px)"
                srcset="{{ $medium.RelPermalink }}"
                />
                <source 
                type="image/webp"
                media="(min-width: 1008px)"
                srcset="{{ $large.RelPermalink }}"
                />
                <img src="{{ $tiny.RelPermalink }}" alt="{{ $alt }}" width="{{ $tiny.Width }}" height="{{ $tiny.Height }}" loading="lazy">
            </picture>
        {{ end }}
        {{ with $caption }}<figcaption>{{ $caption }}</figcaption>{{ end }}
    </figure>
{{ end }}


