{{ define "main" }}
<style>
    img{
        object-fit: contain;
    }
    
    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0.2rem;
        column-gap: 1rem;
        margin: 1rem 0 1rem 0;
    }

    .page-tags{
        width: 15rem;
    }

    .page-link{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
</style>


<div class="main-container">
    <h1>{{ .Title }}</h1>
    <hr>
    {{ .Content }}
    <div class="gallery">
        {{ range .Pages }}
        {{ $alt := .Params.alt }}
            <div class="page-link">
                <!-- Check if "cover" is available on frontmatter, if not, display chickens -->
                {{ if .Params.cover }}
                    {{ with resources.GetRemote .Params.cover }}
                        <a href="{{ .RelPermalink }}">
                            {{ with .Resize "200x webp q100" }}
                                <img src="{{ .RelPermalink }}" alt="{{ $alt }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy">
                            {{ end }}
                        </a>
                    {{ end }}
                {{ else }}
                    <img src='{{ relURL "images/chicken.webp" }}' alt="">
                {{ end }}
                
                <!-- Display and link page title -->
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>

                <!-- Display date frontmatter -->
                <span>{{ .Date | time.Format ":date_medium" }}</span>

                <!-- Display and link taxonomy pages for frontmatter "art_tags" -->
                <span class="page-tags">
                    {{ range .Params.art_tags }}
                        <a class="tags-small" href='/art_tags/{{ . | urlize }}'>#{{ . }}</a>
                    {{ end }}
                </span>
            </div>
        {{ end }}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js" integrity="sha512-b4rL1m5b76KrUhDkj2Vf14Y0l1NtbiNXwV+SzOzLGv6Tz1roJHa70yr8RmTUswrauu2Wgb/xBJPR8v80pQYKtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>lightGallery(document.querySelector('.gallery'));</script>
{{ end }}