{{ define "main" }}
<style>
    img{
        object-fit: contain;
    }
    
    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0.2rem;
        column-gap: 1rem;
        margin: 1rem 0 1rem 0;
    }

    .page-tags{
        width: 15rem;
    }

    .page-item{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        max-width: 12rem;
    }

    .page-link{ 
        margin-top: 0.5rem;     
    }

    .page-cover:hover{
        cursor: zoom-in;
    }

    .page-cover img{
        background-color: #373737;
    }
</style>

<div class="main-container">
    <h1>{{ .Title }}</h1>
    <hr>
    {{ .Content }}
    <div class="gallery">
        {{ range .Pages }}
            <div class="page-item">
                {{ if .Params.cover }}
                    {{ with resources.GetRemote .Params.cover }}
                        <a href="{{ .RelPermalink }}" class="page-cover">
                            {{ with .Resize "200x webp q85" }}
                                <img src='{{ .RelPermalink }}' alt="" width="{{ .Width }}" height="{{ .Height }}" loading="lazy">
                            {{ end }}
                        </a>
                    {{ end }}
                {{ else }}
                    <img src='{{ relURL "images/chicken.webp" }}' alt="" loading="lazy">
                {{ end }}
                <a  class="page-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                <span>{{ .Date | time.Format ":date_medium" }}</span>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}