{{ define "main" }}
<style>
    /* wip warning */
    .wip{
        border: 1px solid #000;
        margin: 1rem 0 2rem 0;
        text-align: left;
        background-color: var(--grey);
    }

    .wip h2{
        background-color: yellow;
        color: #000;
        margin: 0;
    }

    .wip h2::before{
        content: "⚠️";
    }

    .wip img{
        width: 50px;
    }

    .warning{
        text-align: center;
    }

    .warning i:first-of-type{
        padding-left: 1rem;
    }

    .warning i, .warning i a{
        color: #000;
    }

    .wip i a{
        color: blue;
    }

    /* oldweb buttons */
    .buttons img{
        margin: 0 0.1rem 0 0.1rem;
        width: 88px;
        height: 31px;
    }

    @media screen and (max-width: 696px){
        .wip h2::after{
            content: none;
        }

        .buttons{
            text-align: center;
        }
    }
</style>

<div class="main-container">
    <h1>{{ .Title }}</h1>
    <hr>
    <h2>Before you enter...</h2>
    <b>This site:</b>
    <ul>
        <li>Is 16+</li>
        <li>Uses Javascript</li>
        <li>Is multilingual (pt-br, eng), though the grand majority of content is in english.</li>
        <li>Is missing certain accessibility features. Screen reader users, users with a sensibility to flashing images, and others, please be aware of this before proceeding.</li>
    </ul>
    <hr>
    <div class="warning">
        <img class="warning-construction" src="images/under_construction.gif" alt="">
        <div class="wip">
            <h2>This site is a never ending project!</h2>
            <i>Under construction until: <a href="https://en.wikipedia.org/wiki/Long-term_nuclear_waste_warning_messages">the end of time</a></i><br>
            <img src="images/wip.webp" alt="" width="50px" height="50px">
            <i>Our engineers are hard at work!</i>
        </div>
    </div>

    {{ .Content }}

    <div class="buttons">
        <img src="images/decorations/paws.gif" alt="Made with my own two paws." loading="lazy">
        <img src="images/decorations/html-dream.gif" alt="I dream in html." loading="lazy">
        <a href="https://www.firefox.com/en-US/?redirect_source=mozilla-org"><img src="images/decorations/firefoxn00bs.gif" alt="Get Firefox, noobs!" loading="lazy"></a>
        <a href="https://neocities.org/"><img src="images/decorations/neocities1.gif" alt="Neocities, the web is yours." loading="lazy"></a>
        <img src="images/decorations/png.png" alt="World Wide Web, connecting people since 1991." loading="lazy">
        <img src="images/decorations/share.jpg" alt="It's good to share." loading="lazy">
        <img src="images/decorations/responsivesite.jpg" alt="Responsive website." loading="lazy">
    </div>

    <h2>What's new?</h2>
    <b>xx/xx/xx</b>
    <ul>
        <li>
            Published the site!
        </li>
    </ul>

    <p><i>To see what's next visit the <a href="site/#to-do-list">To do list</a></i></p>

    <!-- ASSIGN VARIABLES FOR LISTINGS -->
     <!-- this date variable is getting assigned here and keeping that value isntead of updating for each page -->
      <!-- also last modified is behaving weirdly and showing the last modified date of the entire site. every time we rebuild the site, hugo turns our md into html and that html creation date is the lastmod displayed. lastmod now has to be added manually -->
       <!-- write this shit on obsidian please -->
    {{ $date := .Date.Format "Jan 02 2006" }} 
    {{ $lastmod := .Lastmod.Format "Jan 02 2006" }}

    <!-- MOST RECENT POST -->
    <h2>latest from /posts/</h2>
    <ul class="page-collection">
        {{ range first 1 (where .Site.RegularPages "Section" "posts") }}
            <li>
                <div class="post">
                    <div class="post-top-section">
                        <span class="post-title">{{ .Title }}</span>
                        <span class="item-stats">
                            Published {{ $date }}
                            {{ if ne $date $lastmod }}
                                | Last Modified {{ $lastmod }}
                            {{ end }}
                        </span>
                    </div>
                    <span>{{ .Content }}</span>
                </div>
            </li>
        {{ end }}
    </ul>

    <i><p><a href="posts">see more...</a></p></i>

    <!-- MOST RECENT BLOG POST -->
    <h2>latest from /blog/</h2>
    <ul class="page-collection">
        {{ range first 1 (where .Site.RegularPages "Section" "blog") }}
            <li class="page-item">
                 <div class="item-cover-container">
                    {{ if .Params.cover }}
                        {{ with resources.GetRemote .Params.cover }}
                            <picture>
                                {{ $desktop := .Resize "100x webp q70" }}
                                {{ $mobile := .Resize "208x webp q70" }}
                                <source 
                                type="image/webp"
                                media="(max-width: 696px)"
                                srcset="{{ $mobile.RelPermalink }}"
                                width="{{ $mobile.Width }}"
                                height="{{ $mobile.Height }}"
                                />
                                <source 
                                type="image/webp"
                                media="(min-width: 697px)"
                                srcset="{{ $desktop.RelPermalink }}"
                                width="{{ $desktop.Width }}"
                                height="{{ $desktop.Height }}"
                                />
                                <img src="{{ $desktop.RelPermalink }}" alt="" width="{{ $desktop.Width }}" height="{{ $desktop.Height }}" loading="lazy">
                            </picture>
                        {{ end }}
                    {{ else }}
                        <img class="chickens-img" src='{{ relURL "images/chicken.webp" }}' title="Error loading image." alt="" loading="lazy">
                    {{ end }}
                </div>
                <div class="item-details">
                    <a class="item-title" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                        <span class="item-caption">{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}</span>
                        <span class="item-stats">
                            <span>
                                {{ range .Params.blog_tags }}
                                    <a class="tags" href='/blog_tags/{{ . | urlize }}'>#{{ . }}</a>
                                {{ end }}
                            </span>
                            <span>
                                Published {{ $date }}
                                {{ if ne $date $lastmod }}
                                    | Last Modified {{ $lastmod }}
                                {{ end }}
                            </span>
                        </span>
                    </span>
                </div>
            </li>
        {{ end }}
    </ul>
    <i><p><a href="blog">see more...</a></p></i>
    
    <h2>support the site!</h2>
    <p>Do you think this website is totally awesome and wanna support it's development? There's a few ways you can do that:</p>
    <ul>
        <li>Reporting bugs and suggesting new features for me to add - <a href="about_me/#contact-me">Contact me</a> or use the <a href="https://github.com/AMENDOkat/amendokat">Github repository</a>;</li>
        <li>Adding my button to your site or just spreading the link around;</li>
        <li>Sending me a tip on <a href="https://ko-fi.com/amendokat">ko-fi</a>.</li>
    </ul>
    <a href="https://ko-fi.com/amendokat"><img src="images/decorations/coffee.gif" alt="Link to my Ko-fi." loading="lazy"></a>

    <h2>add my button to your site!</h2>
    <p>If you do lmk so I can add yours here too!! let's be web neighbours :D</p>
    <img src="images/amendokat.webp" alt="" loading="lazy"><br>
    <button title="Copy to clipboard." onclick="copyWebsiteButton()">copy to clipboard</button>
</div>
{{ end }}