{{ define "main" }}
<style>
    ul{
        list-style-type: none;
    }

    li{
        display: flex;
    }

    .item-details{
        margin-left: 0.8rem;
    }

    .item-title, .item-cap, .item-stats{
        display: block;
    }

    .item-title{
        font-size: 1.1rem;
    }

    .item-stats{
        color: var(--grey);
    }

    .posts{
        border: var(--border-1);
        margin: 1rem 0 1rem 0;
    }

    .post-top-section{
        padding: 1rem;
        border-bottom: 1px dotted var(--grey);
    }

    .post-title{
        font-weight: bold;
    }

    .posts h2{
        background-color: transparent;
        color: var(--off-white);
        padding-left: 1rem;
        margin: 0.5rem 0 0.5rem 0;
    }
</style>

<div class="main-container">
    <h1>{{ .Title }}</h1>
    <hr>
    {{ .Content }}
    <ul>
        {{ range .Pages }}
        {{ $type := .Param "type" }}
        {{ $date := .Date.Format "Jan 02 2006" }}
        {{ $lastmod := .Lastmod.Format "Jan 02 2006" }}
        
            {{ if eq $type "post" }}
                <div class="posts">
                    <div class="post-top-section">
                    <span class="post-title">{{ .Title }}</span>
                    <span class="item-stats">
                        Published {{ $date }}
                        <!-- If "date" (Published) is different from "lastmod" (Last Modified) display last modified info, if not, display nothing -->
                        {{ if ne $date $lastmod }}
                            | Last Modified {{ $lastmod }}
                        {{ end }}
                    </span>
                    </div>
                    <span>{{ .Content }}</span>
                </div>
            
            {{ else }}
                <li>
                    <!-- Check if "cover" is available on frontmatter, if not, display chickens -->
                    {{ if .Params.cover }}
                        {{  with resources.GetRemote .Params.cover  }}
                            {{ with .Resize "100x webp q70" }}
                                <img src="{{ .RelPermalink }}" alt="" width="{{ .Width }}" height="{{ .Height }}" loading="lazy">
                            {{ end }}
                        {{ end }}
                    {{ else }}
                        <img src="{{ .Site.Params.chickens }}" alt="" width="100px" height="100px">
                    {{ end }}

                    <div class="item-details">
                        <a class="item-title" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                        <!-- Check if "caption" is available on frontmatter, if not, check for "description", if description also isn't available, display summary  -->
                        {{ if .Params.caption }}
                            <span class="item-cap">{{ .Params.caption }}</span>
                        {{ else if .Description }}
                            <span class="item-cap">{{ .Description }}</span>
                        {{ else }}
                        <span class="item-cap">{{ .Summary }}</span>
                        {{ end }}
                            <!-- Check if frontmatter type matches "artwork", displays information about file -->
                            {{ if eq $type "artwork" }}
                                {{ range .Params.art_tags }}
                                    <a class="tags" href='/art_tags/{{ . | urlize }}'>#{{ . }}</a>
                                {{ end }}
                                <span class="item-stats">
                                    Created {{ .Params.created | time.Format ":date_medium" }} | Published {{ $date }}
                                    <!-- If "date" (Published) is different from "lastmod" (Last Modified) display last modified info, if not, display nothing -->
                                    {{ if ne $date $lastmod }}
                                        | Last Modified {{ $lastmod }}
                                    {{ end }}
                                </span>
                            <!-- If frontmatter type doesn't match any of the specified values, display chickens -->
                            {{ else }}
                                <i style="color: var(--grey);">nothing here but us chickens!</i>
                            {{ end }}
                        </span>
                    </div>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}