{{ define "main" }}
<div class="main-container">
    <h1>{{ .Title }}</h1>
    <hr>
    {{ .Content }}
    <ul class="page-collection">
        {{ range .Pages }}
        {{ $type := .Param "type" }}
        {{ $date := .Date.Format "Jan 02 2006" }}
        {{ $lastmod := .Lastmod.Format "Jan 02 2006" }}   
            {{ if eq $type "post" }}
                <li>
                    <div class="post">
                        <div class="post-top-section">
                            <span class="post-title">{{ .Title }}</span>
                            <span class="item-stats">
                                Published {{ $date }}
                                <!-- If "date" (Published) is different from "lastmod" (Last Modified) display last modified info, if not, display nothing -->
                                {{ if ne $date $lastmod }}
                                    | Last Modified {{ $lastmod }}
                                {{ end }}
                            </span>
                        </div>
                        <span>{{ .Content }}</span>
                    </div>
                </li>
            {{ else if or (eq $type "blog") (eq $type "artwork") }}
                <li class="page-item">
                    <div class="item-cover-container">
                        {{ if .Params.cover }}
                            {{ with resources.GetRemote .Params.cover }}
                                <picture>
                                    {{ $desktop := .Resize "100x webp q70" }}
                                    {{ $mobile := .Resize "208x webp q70" }}
                                    <source 
                                    type="image/webp"
                                    media="(max-width: 696px)"
                                    srcset="{{ $mobile.RelPermalink }}"
                                    width="{{ $mobile.Width }}"
                                    height="{{ $mobile.Height }}"
                                    />
                                    <source 
                                    type="image/webp"
                                    media="(min-width: 697px)"
                                    srcset="{{ $desktop.RelPermalink }}"
                                    width="{{ $desktop.Width }}"
                                    height="{{ $desktop.Height }}"
                                    />
                                    <img src="{{ $desktop.RelPermalink }}" alt="" width="{{ $desktop.Width }}" height="{{ $desktop.Height }}" loading="lazy" style="background-color: #373737;">
                                </picture>
                            {{ end }}
                        {{ else }}
                            <img class="chickens-img" src='{{ relURL "images/chicken.webp" }}' title="Error loading image." alt="" loading="lazy">
                        {{ end }}
                    </div>
                    <div class="item-details">
                        <a class="item-title" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                            <span class="item-caption">{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}</span>
                            <!-- Check if frontmatter type matches "artwork", else check if it matches "blog", if it matches none, display chickens -->
                            {{ if eq $type "artwork" }}
                                <span class="item-stats">
                                    <span>
                                        {{ range .Params.art_tags }}
                                            <a class="tags" href='/art_tags/{{ . | urlize }}'>#{{ . }}</a>
                                        {{ end }}
                                    </span>
                                    <span>Created {{ .Date | time.Format ":date_medium" }}</span>
                                </span>
                            {{ else if eq $type "blog" }}
                                <span class="item-stats">
                                    <span>
                                        {{ range .Params.blog_tags }}
                                            <a class="tags" href='/blog_tags/{{ . | urlize }}'>#{{ . }}</a>
                                        {{ end }}
                                    </span>
                                    <span>
                                        Published {{ $date }}
                                        {{ if ne $date $lastmod }}
                                            | Last Modified {{ $lastmod }}
                                        {{ end }}
                                    </span>
                                </span>
                            {{ else }}
                                <span class="chickens-text">nothing here but us chickens!</span>
                            {{ end }}
                        </span>
                    </div>
                </li>
            {{ else }}
                <li class="page-item">
                    <div class="item-cover-container"><img class="chickens-img" src='{{ relURL "images/chicken.webp" }}' title="Error loading image." alt=""></div>
                    <div class="item-details"><span class="chickens-text">nothing here but us chickens!</span></div>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}