{{ define "main" }}
<div class="main-container">
    <h1>{{ .Title }}</h1>
    <hr>
   <style>
    .page-info, .page-controls{
        text-align: center;
    }

    .page-info img{
        margin-top: 0.2rem;
    }

    .page-info ul{
        list-style-type: none;
        background-color: #373737;
        border: 1px solid var(--grey);
    }

    .page-info li{
        margin: 0;
        padding: 0.5rem 0 0.5rem 0;
    }

    .page-info li:not(:last-of-type){
        border-bottom: 1px dotted var(--grey);
    }

    .page-info b{
        display: block;
    }

    .page-info li a:not(:last-of-type){
        border-right: var(--border-1);
    }

    .page-info li a{
        padding: 0 0.5rem 0 0.5rem;
    }

    .page-controls{
        background-color: #373737;
        margin: var(--margin);
        display: flex;
        justify-content: space-evenly;
    }
</style>

<div class="page-info">
    {{ with .Params }}
        {{ $alt := .alt }}
        {{ with resources.GetRemote .cover }}
            <img src="{{ . }}" alt="{{ $alt }}" width="{{ .Width }}" height="{{ .Height }}">
        {{ end }}
        <p>{{ .caption }}</p>
        <ul>
            <li>
                <b>Title</b> 
                {{ .title }}
            </li>
            <li>
                <b>Created</b> 
                {{ .created | time.Format ":date_short" }}
            </li>
            <li>
                <b>Where to find</b>
                {{ with .bluesky }}
                    <a href="{{ . }}">bluesky</a>
                {{ end }}

                {{ with .tumblr }}
                    <a href="{{ . }}">tumblr</a>
                {{ end }}
                
                {{ with .derpibooru }}
                    <a href="{{ . }}">derpibooru</a>
                {{ end }}
            </li>
            <li>
                <b>Tags</b>
                {{ range .tags }}
                    <a href='{{ "/tags/" | absURL }}{{ . | urlize }}'>{{ . }}</a> 
                {{ end }}
            </li>
        </ul>
    {{ end }}
</div>

{{ .Content }}

<div class="page-controls">
    {{ with .Prev }}
        <a href="{{ .RelPermalink }}">&#11164; Previous</a>
    {{ end }}
     ||
    {{ with .Next }}
        <a href="{{ .RelPermalink }}">Next &#11166;</a>
    {{ end }}
</div>

</div>

{{ end }}

