{{ define "main" }}
   <style>
    .information-title{
        font-weight: bold;
    }

    .page-info{
        text-align: center;
    }

    .page-info img{
        margin-top: 0.2rem;
    }

    .page-info ul{
        list-style-type: none;
        background-color: #373737;
        border: 1px solid var(--grey);
    }

    .page-info li{
        margin: 0;
        padding: 0.5rem 0 0.5rem 0;
    }

    .page-info li:not(:last-of-type){
        border-bottom: 1px dotted var(--grey);
    }

    .page-info b{
        display: block;
    }

    .page-info li a:not(:last-of-type){
        border-right: var(--border-1);
    }

    .page-info li a{
        padding: 0 0.5rem 0 0.5rem;
    }

    .img-container{
        display: flex;
        justify-content: center;
        padding: 0.5rem 0 0.7rem 0;
    }

    .img-display{
        max-width: 45vw;
    }

@media screen and (max-width: 696px){
    .img-display{
        max-width: 80vw;
    }
}
</style>

<div class="main-container">
    <h1>{{ .Title }}</h1>
    <hr>
    <div class="page-controls">
        {{ $pages := .CurrentSection.Pages }}
        {{ with $pages.Next . }}
            <div class="page-controls-content">
                <!-- <span>{{ .Title }}</span> -->
                <a href="{{ .RelPermalink }}">&#11164; Next</a>
            </div>
        {{ end }}
        <span class="page-stats">
            {{ $lastmod := .Lastmod.Format "Jan 02 2006" }}
            Last Modified {{ $lastmod }}
        </span>
        {{ with $pages.Prev . }}
            <div class="page-controls-content">
                <!-- <span>{{ .Title }}</span> -->
                <a href="{{ .RelPermalink }}">Previous &#11166;</a>
            </div>
        {{ end }}
    </div>

    <div class="page-info">
        {{ with .Params }}
            {{ $alt := .alt }}
                {{ if .cover }}
                    {{ with .cover }}
                        {{ with resources.GetRemote . }}
                            <div class="img-container"><img class="img-display" src="{{ . }}" alt="{{ $alt }}" width="{{ .Width }}" height="{{ .Height }}"></div>
                        {{ end }}
                    {{ end }}
                {{ else }}
                    <img src='{{ relURL "images/chicken.webp" }}' alt="">
                {{ end }}

            <ul>
                <li>
                    <div class="information-title"><i class="fa-solid fa-file-lines"></i> Description</div>
                    {{ with .Description }}
                        {{ . }}
                    {{ else }}
                        <i>No description provided.</i>
                    {{ end }}
                </li>
                <li>
                    <div class="information-title"><i class="fa-solid fa-palette"></i> Created</div>
                    {{ .Date | time.Format ":date_short" }}
                </li>
                <li>
                    <div class="information-title"><i class="fa-solid fa-link"></i> Links</div>
                    {{ with .bluesky }}
                    <div class=""><i class="fa-brands fa-bluesky"></i><a href="{{ . }}"></i>bluesky</a></div>
                    {{ end }}

                    {{ with .tumblr }}
                        <div class=""><i class="fa-brands fa-tumblr"></i><a href="{{ . }}">tumblr</a></div>
                    {{ end }}
                    
                    {{ with .derpibooru }}
                        <div class=""><i class="fa-solid fa-horse-head"></i><a href="{{ . }}">derpibooru</a></div>
                    {{ end }}

                    {{ if eq .exclusive true }}
                        <i>Website exclusive.</i> 
                    {{ end }}
                </li>
                <li>
                    <div class="information-title"><i class="fa-solid fa-tag"></i> Tags</div>
                    {{ range .art_tags }}
                    <a class="tags" href='/art_tags/{{ . | urlize }}'>{{ . }}</a>
                    {{ end }}
                </li>
            </ul>
        {{ end }}
    </div>

{{ .Content }}

</div>

{{ end }}

